  body {
      /* font: 400 15px Lato, sans-serif; */
      line-height: 1.8;
      color: #fff;
	  
	  font-family: Montserrat, sans-serif;
	  background: none;
  }
  .navbar-default {
    background-color: #03A9F4 !important;}
  h2 {
      font-size: 24px;
      text-transform: none;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }
  h4.text-service {
	margin-top: 0;
    margin-bottom: 0px;
}
  .areaTop {
      background-color: #f4511e;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .areaTop.noMain.text-center {
    padding-top: 40px;
}
  p.fbtext {
    color: #4965b6;
    font-weight: bold;
    font-size: 12px;
}
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #00bcd4;
      font-size: 50px;
  }
.marquee {
    margin-top: 50px;
    background: aliceblue;
}
.marquee p {
    font-size: 16px;
    color: #473509;
    padding-top: 7px;
}
.contenido {
    width: 240px;
    max-height: 100%;
    height: 240px;
    margin: auto;
    background: #fff;
    border-radius: 5px;
}

#cerrar {
    display: none;
}
#cerrar + label {
    position: fixed;
    color: #fff;
    font-size: 20px;
    text-align: center;
    z-index: 1040;
    background: red;
    border-radius: 5px;
    animation: modal 1s 10s forwards;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding: 5px 10px;
    bottom: 0px;
}

#cerrar:checked + label, #cerrar:checked ~ .modal {
    display: none;
}
.anuncios {
    padding: 10px;
    border: 1px solid #bfbbbb;
    width: 320px;
    text-align: center;
    max-width: 100%;
    margin: auto;
    background: #fff;
}
.anuncios h1 {
    margin: 0;
}
.anuncios img {
    width: 320px;
    max-width: 100%;
	border: 1px solid #9d9d9d;
}
@keyframes modal {
    100% {
        visibility: visible;
        opacity: 1;
    }
}
  span.logo-main img {
    width: 230px;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}
  span.logo-sec img {
    width: 230px;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}
  span.logo-users img {
    width: 160px;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}
span.slideanim.slide img {
    width: 180px;
}
iframe {
	width: 160px;
    height: 50px;
    margin: -15px 0px;
}
  .link-register {
    padding-top: 0px;
}
  .logo-mid {
      color: #FFC107;
      font-size: 100px;
  }
  .logo-success {
      color: #56ca5b;
      font-size: 100px;
  }
  .logo-exit {
      color: #E91E63;
      font-size: 100px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  .item h4 {
    font-size: 15px;
    line-height: 1.375em;
    color: #FF5722;
    font-weight: 400;
    font-style: normal;
    margin: 70px 20px 15px;
  }
  .item span {
      font-style: normal;
  }
  .link-social {
    margin: 0 auto 5px;
    border: 1px solid #cec5c5;
    padding: 5px 0;
    border-radius: 3px;
    width: 320px;
    max-width: 100%;
}
.link-social h3 {
    font-size: 12px;
    margin-top: 6px;
}
a.btn.btn-social {
    display: inline-block;
    width: 76px;
    font-size: 12px;
    margin: 4px;
    padding: 4px;
}
a.btn.btn-social:link {
	color: #fff;
}a.btn.btn-social:visited {
	color: #fff;
}
a.btn.btn-social:hover {
	color: #fff;
}
a.btn.btn-social:active {
	color: #fff;
}
.btn-facebook {
    background: #3b5998;
    color: #fff;
}
.btn-google {
    background: #dd4b39;
    color: #fff;
}
.btn-youtube {
    background: #ff0000;
    color: #fff;
}
form.form-desconect {
    margin-top: 23px;
}
  form.form-inline {
    width: 320px;
    max-width: 100%;
    margin: 0 auto;
}
.free-login {
	margin-top: 20px;
}
.freewifi {
	width: 320px;
    max-width: 100%;
    margin: 10px auto;
}
#proceed {
  display: none;
}

  .panel {
      border: 1px solid #f4511e;
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading-1 {
    color: #fff !important;
    background-color: #FF5722 !important;
    padding: 1px;
    border-bottom: 1px solid #dddddd;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-heading-1 h1 {
	  font-size: 60px;
	  margin: 5px;
  }
  .panel-heading-2{
      color: #03A9F4 !important;
      background-color: #fff !important;
      padding: 1px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-heading-2 h1 {
	  font-size: 60px;
	  margin: 5px;
  }
  .panel-heading-3 {
      color: #CDDC39 !important;
      background-color: #fff !important;
      padding: 1px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-heading-3 h1 {
	  font-size: 60px;
	  margin: 5px;
  }
  .panel-heading-4 {
      color: #da1709 !important;
      background-color: #fff !important;
      padding: 1px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-heading-4 h1 {
	  font-size: 60px;
	  margin: 5px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #f4511e;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 2px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .icon-up-open-1 {
      font-size: 20px;
      margin-bottom: 20px;
      color: #9c27b0;
  }
  span.fichas {
    background: #333;
    color: #fff;
    padding: 0px 4px;
    border-radius: 3px;
}
  span.rem-time {
    color: #ff0000;
    border-radius: 3px;
    font-size: 19px;
    margin-bottom: 18px;
    position: relative;
    bottom: 3px;
    padding-bottom: -3px;
}
span.lef-time {
    color: #ffffff;
    border-radius: 3px;
    font-size: 22px;
    margin-bottom: 18px;
    padding-bottom: -3px;
    background: #000;
    padding: 1px 5px;
}
span.puntos {
    background: #009688;
    color: #fff;
    padding: 2px 4px;
    border-radius: 3px;
}
span.ticket img {
    width: 100px;
}
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
@media screen and (max-width: 320px) {
	.anuncios {
		padding: 10px;
		border: 1px solid #bfbbbb;
		width: 300px;
		text-align: center;
		max-width: 100%;
		margin: auto;
		background: #fff;
	}
}